*
!.gitignore
!.stow-local-ignore
!aliases.sh
!program_configs.sh
!xdg_config.sh
!dotfiles_setup.py

!.config/

!.config/git/

!.config/tmux/
.config/tmux/plugins

!.config/npm/

!unused_configs/
!unused_configs/nvim/
!unused_configs/nvim/**
unused_configs/nvim/lazy-lock.json
