*
!.gitignore
!aliases.sh
!program_configs.sh
!xdg_config.sh
!dotfiles_setup.py

!.config/
.config/*

!.config/git/
!.config/git/*

!.config/nvim/
!.config/nvim/*
.config/nvim/lazy-lock.json

!.config/tmux/
!.config/tmux/*
.config/tmux/plugins

!.config/npm/
!.config/npm/*
