*
!.gitignore
!.stow-local-ignore

!bash_configs/
!bash_configs/*

!.config/
.config/*

!.config/git/
!.config/git/.gitkeep

!.config/tmux/
!.config/tmux/*
.config/tmux/plugins

!.config/npm/
!.config/npm/*

!unused_configs/nvim/
!unused_configs/nvim/**
unused_configs/nvim/lazy-lock.json

